<section id="hero">
	<div class="container hero-content">
		<span class="hero-tag mono">{{hero.tagline}}</span>
		<h1>{{{hero.headline}}}</h1>
		<p class="hero-sub">{{hero.subtext}}</p>
		<a href="{{hero.buttonLink}}" class="btn mono">
			{{{feather "code" width="18" height="18"}}}
			<span>{{hero.buttonText}}</span>
		</a>
	</div>
</section>
